:root {
    --primary-color: white;
    --secondary-color: #E7E7E7;
    --font-family: 'Arial, sans-serif';
}


body{
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--secondary-color);
}

/* Top navigation bar styles */
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    font-family: var(--font-family);
}

#logo {
    height: 40px;
    vertical-align: middle;
}

.top-bar{
    background-color: var(--primary-color);
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-and-user {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Filter area styles */
.filter-area {
    margin-top: 25px;
    padding: 10px;
    align-items: center;
    display: flex;
    gap: 10px;
}

select {
    padding: 10px;
    font-size: 1em;
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}